<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InventoryManagementServlet</display-name>
    <servlet-name>InventoryManagementServlet</servlet-name>
    <servlet-class>servlet.InventoryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryManagementServlet</servlet-name>
    <url-pattern>/InventoryManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurplusFoodIdentificationServlet</display-name>
    <servlet-name>SurplusFoodIdentificationServlet</servlet-name>
    <servlet-class>servlet.SurplusFoodIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurplusFoodIdentificationServlet</servlet-name>
    <url-pattern>/SurplusFoodIdentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSurplusFoodItemsServlet</display-name>
    <servlet-name>ListSurplusFoodItemsServlet</servlet-name>
    <servlet-class>servlet.ListSurplusFoodItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSurplusFoodItemsServlet</servlet-name>
    <url-pattern>/ListSurplusFoodItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInventoryServlet</display-name>
    <servlet-name>AddInventoryServlet</servlet-name>
    <servlet-class>servlet.AddInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInventoryServlet</servlet-name>
    <url-pattern>/AddInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInventoryServlet</display-name>
    <servlet-name>EditInventoryServlet</servlet-name>
    <servlet-class>servlet.EditInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInventoryServlet</servlet-name>
    <url-pattern>/EditInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInventoryServlet</display-name>
    <servlet-name>DeleteInventoryServlet</servlet-name>
    <servlet-class>servlet.DeleteInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInventoryServlet</servlet-name>
    <url-pattern>/DeleteInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInventoryServlet</display-name>
    <servlet-name>UpdateInventoryServlet</servlet-name>
    <servlet-class>servlet.UpdateInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInventoryServlet</servlet-name>
    <url-pattern>/UpdateInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddInventoryServlet</display-name>
    <servlet-name>AdminAddInventoryServlet</servlet-name>
    <servlet-class>servlet.AdminAddInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInventoryServlet</servlet-name>
    <url-pattern>/AdminAddInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditInventoryServlet</display-name>
    <servlet-name>AdminEditInventoryServlet</servlet-name>
    <servlet-class>servlet.AdminEditInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInventoryServlet</servlet-name>
    <url-pattern>/AdminEditInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteInventoryServlet</display-name>
    <servlet-name>AdminDeleteInventoryServlet</servlet-name>
    <servlet-class>servlet.AdminDeleteInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteInventoryServlet</servlet-name>
    <url-pattern>/AdminDeleteInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateInventoryServlet</display-name>
    <servlet-name>AdminUpdateInventoryServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateInventoryServlet</servlet-name>
    <url-pattern>/AdminUpdateInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerAddInventoryServlet</display-name>
    <servlet-name>RetailerAddInventoryServlet</servlet-name>
    <servlet-class>servlet.RetailerAddInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerAddInventoryServlet</servlet-name>
    <url-pattern>/RetailerAddInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerEditInventoryServlet</display-name>
    <servlet-name>RetailerEditInventoryServlet</servlet-name>
    <servlet-class>servlet.RetailerEditInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerEditInventoryServlet</servlet-name>
    <url-pattern>/RetailerEditInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerDeleteInventoryServlet</display-name>
    <servlet-name>RetailerDeleteInventoryServlet</servlet-name>
    <servlet-class>servlet.RetailerDeleteInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerDeleteInventoryServlet</servlet-name>
    <url-pattern>/RetailerDeleteInventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerUpdateInventoryServlet</display-name>
    <servlet-name>RetailerUpdateInventoryServlet</servlet-name>
    <servlet-class>servlet.RetailerUpdateInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerUpdateInventoryServlet</servlet-name>
    <url-pattern>/RetailerUpdateInventoryServlet</url-pattern>
  </servlet-mapping>
</web-app>